.image-border{
    margin-top: 50px;
    width: 60%;
    height: 550px;
    background-image: url(https://image.freepik.com/free-vector/winter-background-with-pastel-color-brushes-leaves_220290-42.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
h1{
    margin-top: 25px;
}
.btn{
    margin-top: 30px;

}